#MSUmasthead {
  img {
    width: 230px;

    @include media-breakpoint-up(sm) {
      width: 296px;
    }
  }
}
#MSUSearchTool input#q {
  height: 26px;
  width: calc(100% - 40px);
}

#btn_search {
  background-size: 14px 14px !important;
}

#MSUstandardFooter {
  width: 100%;
min-height: 73px !important;
height: 100%;

@include media-breakpoint-down(sm) { margin-bottom: 50px; }

@include media-breakpoint-up(lg) { text-align: left; }
  #standard-footer-site-links ul {
    float: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    @include media-breakpoint-up(md) { width: 680px; }

    @include media-breakpoint-up(lg) {
      float: left;
      margin-top: 0;
      line-height: 22px;
    }

    @include media-breakpoint-down(sm) {
      padding: 15px 0;
      margin: 0;

      li {
        display: block;
        padding: 2px 0 !important;
        border: none !important;

        a {
          border:none !important;
          padding: 0 !important;
        }
      }
    }

    @media print {margin-left: 0 !important;}
  }

  #standard-footer-MSU-info {
    width: 290px;
    float: none;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {width: 680px;}

    @include media-breakpoint-up(lg) {
      float: left;
      margin-top: 2px;
    }

    @include media-breakpoint-down(sm) {
      ul {
        line-height: 2;
        margin-bottom: 20px;
        height: 100%;
      }

      li {
        border-right: none !important;
        display: block !important;
        padding: 0 !important;
        font-size: 12px;
        line-height: 16px !important;
        padding: 4px 0 !important;
      }
    }

    @media print { margin-left: 0 !important; }
  }
}
